<div class="app-sidebar-container">
  <div class="app-sidebar-header"></div>
  <mat-nav-list class="app-sidebar-menu-container">

    <div *ngFor="let item of navOptions">
      <mat-list-item [routerLink]="item.routerLink" routerLinkActive="active" *ngIf="!item.children">
        <mat-icon>{{item.icon}}</mat-icon>
        <a>{{item.label}}</a>
      </mat-list-item>

      <mat-expansion-panel *ngIf="item.children">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>{{item.label}}</p>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <div *ngFor="let item of item.children">
            <mat-list-item [routerLink]="item.routerLink" routerLinkActive="active" *ngIf="!item.children">
              <mat-icon>{{item.icon}}</mat-icon>
              <a>{{item.label}}</a>
            </mat-list-item>
          </div>
        </mat-nav-list>

      </mat-expansion-panel>
    </div>

  </mat-nav-list>
</div>
