<section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch" *ngIf="!isLoading">
    <mat-sidenav-container fxFlex="100%">
    <mat-sidenav #drawer *ngIf="displayNav" mode="{{isMobileView?'over':'side'}}"
                 opened="{{!isMobileView && isMenuOpen}}" disableClose="{{!isMobileView}}">
     <app-sidebar-menu></app-sidebar-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <mat-toolbar color="primary">
          <button type="button" mat-button (click)="toggleMenu()" *ngIf="displayNav">
            <mat-icon>menu</mat-icon>
          </button>
          <span style="flex: 1 1 auto;"></span>
          <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>account_box</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <a target="_blank" [href]="'perfil'" mat-menu-item>Perfil</a>
          </mat-menu>
        </mat-toolbar>
        <mat-progress-bar [style.visibility]="isLoadingRouter ? 'visible' : 'hidden'"
                          mode="indeterminate"></mat-progress-bar>
        <div class="main">
          <router-outlet [@fadeIn]></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
