<div class="main-container" *ngIf="!isLoading">
  <mat-toolbar color="primary" class="topbar telative">
    <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed">
      <mat-icon>menu</mat-icon>
    </button>
    <span fxFlex></span>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #snav id="snav" class="dark-sidebar pl-xs"
                 [mode]="mobileQuery.matches ? 'side' : 'over'"
                 fixedTopGap="0"
                 [opened]="mobileQuery.matches"
                 [disableClose]="mobileQuery.matches">
      <app-sidebar-menu></app-sidebar-menu>
    </mat-sidenav>
    <mat-sidenav-content class="page-wrapper">
      <div class="page-content">
        <router-outlet [@fadeIn]></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
